.desktop {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .div {
    background-color: #f5f5f5;
    overflow: hidden;
    width: 1440px;
    height: 2117px;
    position: relative;
  }
  
  .desktop .overlap {
    position: absolute;
    width: 356px;
    height: 92px;
    top: 29px;
    left: 0;
  }
  
  .desktop .screenshot {
    position: absolute;
    width: 196px;
    height: 92px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .desktop .FLOWPAL {
    position: absolute;
    width: 251px;
    top: -20px;
    left: 107px;
    font-family: "Nunito-Bold", Helvetica;
    font-weight: 700;
    color: transparent;
    font-size: 44px;
    letter-spacing: 5.28px;
    line-height: normal;
  }
  
  .desktop .text-wrapper {
    color: #333333;
    transition:transform .5s;
  }

  .desktop .text-wrapper a:hover::after {
    transform: scaleX(1);
  }
  
  .desktop .span {
    position: absolute;
    letter-spacing: 5.28px;
    color: #ff66b2;
  }
  
  .desktop .ellipse {
    position: absolute;
    width: 723px;
    height: 958px;
    top: 1161px;
    left: 1172px;
    border-radius: 361.33px/478.99px;
    background: radial-gradient(50% 50% at 50% 50%, rgb(255, 102, 178) 0%, rgba(255, 102, 178, 0) 100%);
  }
  
  .desktop .text-wrapper-2 {
    position: absolute;
    top: 57px;
    left: 791px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #333333;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper-3 {
    position: absolute;
    top: 57px;
    left: 894px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #333333;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper-4 {
    position: absolute;
    top: 57px;
    left: 998px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #333333;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper-5 {
    position: absolute;
    top: 57px;
    left: 1126px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #333333;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .overlap-group {
    position: absolute;
    width: 57px;
    height: 52px;
    top: 46px;
    left: 1223px;
    background-color: #f5f5f5;
    border-radius: 28.74px/25.84px;
    border: 4px solid;
    border-color: #ff66b2;
  }
  
  .desktop .ellipse-2 {
    position: absolute;
    width: 19px;
    height: 19px;
    top: 7px;
    left: 15px;
    background-color: #ff66b2;
    border-radius: 9.38px/9.36px;
  }
  
  .desktop .img {
    position: absolute;
    width: 32px;
    height: 16px;
    top: 27px;
    left: 9px;
  }
  